/* Reset CSS Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset END */


body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: none;
    position: relative;
    cursor: pointer;
}

.container-rows {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.row {
    position: absolute;
    background-color: black;
    height: 10px;
    width: 100px;
    border-radius: 5px;
}

.row:nth-child(1) {
    top: 0;
}

.row:nth-child(2) {
    top: 25px;
}

.row:nth-child(3) {
    top: 50px;
}

.box .row:nth-child(1), .box .row:nth-child(3) {
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out;
}

.box .row:nth-child(2) {
    transition: opacity 0.4s 0.4s ease-in-out;
}

.box.active .row:nth-child(1) {
    top: 25px;
    transform: rotate(45deg);
    transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}

.box.active .row:nth-child(2) {
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.box.active .row:nth-child(3) {
    top: 25px;
    transform: rotate(-45deg);
    transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}
